---
layout: default
---
<div id="index" class="row">
  <div class="col-sm-9">
    <div class="post-area">
      <!-- small button -->
     <!--  <p class="pull-right visible-xs">
       <button>toggle</button>
     </p> -->
      <div class="post-list-header">
				文章
      </div>
      <div class="post-list-body">
        
        <div class="all-posts" post-cate="All">
          {% for post in paginator.posts %}
            <a class="post-list-item" href="{{ post.url | prepend: site.baseurl }}">
              <h2>
              {{ post.title }}
              </h2>
              <span class="">{{ post.date | date: "%b %-d, %Y" }}</span>
            </a>
          {% endfor %}
          
      		<!-- 分页 -->
      <div class="paginator">
              {% if paginator.total_pages > 1 %}
              <!-- 分页代码 -->
              {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">上一页</a>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <span class="active">{{ page }}</span>
            {% elsif page == 1 %}
              <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
            {% else %}
              <a href="/{{ site.paginate_path | prepend: site.url | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页</a>
        {% endif %}
              {% endif %}
      </div>
      
          
        </div>
        <!-- <div class="posts-in-categories"> -->
        {% for category in site.categories %}
          <div post-cate="{{category | first}}">
            {% for posts in category  %}
              {% for post in posts %}
                {% if post.url %}
                  <a href="{{ post.url }}" class="post-list-item">
                    <h2>
                    {{ post.title }}
                    </h2>
                    <span class="">{{ post.date | date: "%b %-d, %Y" }}</span>
                  </a>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        {% endfor %}
        
        <!-- </div> -->
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="shadow-corner-curl hidden-xs">
      <div class="categories-list-header">
        分类
      </div>
      <a href="{{'/index.html' | prepend: site.baseurl}}" class="categories-list-item" cate="All">
        All<span class="my-badge"> {{site.posts | size}}</span>
      </a>
      {% for category in site.categories order:ascending %}
        <a href="javascript:;" class="categories-list-item" cate="{{ category | first }}">
          {{ category | first }} <span class="my-badge">{{ category | last | size }}</span>
        </a>
      {% endfor %}
    </div>
    
    <p>

    </p>
	  <div class="shadow-corner-curl hidden-xs">
	     <iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=1&ptype=1&speed=0&skin=2&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=5303800008&verifier=bc914442&dpc=1"></iframe>
	  </div>
  </div>
</div>


<script src="jquery.js" type="text/javascript"></script>
<script src="jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script src="iealert.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="iealert/style.css" />
<script type="text/javascript">
	$(document).ready(function() {
		$("body").iealert();
	});
</script>
