<font color="#004B97"><strong>微信公众号 </strong></font>
<a target="_blank" href="http://gityuan.com/images/about-me/gityuan_weixin_logo.png">
	<font color="#f57e42"><strong>Gityuan</strong></font>
</a>

<font color="#004B97"><strong> | 微博</strong></font>
<a target="_blank" href="http://weibo.com/gityuan">
	<font color="#f57e42"><strong>weibo.com/gityuan</strong></font>
</a>

<font color="#004B97"><strong> | 博客</strong></font>
<a target="_blank" href="http://gityuan.com/talk/">
	<font color="#f57e42"><strong>留言区交流</strong></font>
</a>
<img src="/images/about-me/gityuan_weixin_logo.png" alt="gityuan">
