<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="max-age=36000" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="gityuan">
    <meta name="keyword"  content="{{ site.keyword }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="baidu-site-verification" content="LToTaY8RGk" />
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/hux-blog.min.css" | prepend: site.baseurl }}">

    <!-- Pygments Github CSS -->
    <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <!-- change font-awesome CDN to qiniu -->
    <link href="http://cdn.staticfile.org/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <!-- add highlight -->
    <link rel="stylesheet" href="{{ "/css/androidstudio.css" | prepend: site.baseurl }}">
		<script type="text/javascript" src="{{"/js/highlight.pack.js" | prepend:site.baseurl}}"></script>
		<script>hljs.initHighlightingOnLoad();</script>
		
</head>
