<div class="shadow-corner-curl hidden-xs">
    <div class="categories-list-header" align="center">
    	本月热门
    </div>

	<ul class="list-unstyled">
		<br />
		<li><a href="/2015/10/31/binder-prepare/">【1】Binder系列—开篇</a></li>
		<li><a href="/2016/01/30/android-boot/">【2】Android系统启动-开篇</a></li>
		<li><a href="/2016/03/06/start-service/">【3】startService流程分析</a></li>
		<li><a href="/2016/03/19/android-build/">【4】理解Android编译命令</a></li>  
		<li><a href="/2016/01/10/power_rank/">【5】Android耗电统计算法</a></li>
		<br />
	</ul>
</div>