---
layout: default
---
  <div class="col-sm-9">
		<div class="post-area post" >
		    <header align="center" >
		        <h1>{{ page.title }}</h1>
		    </header>
		    <hr>
		    <article class="page-content" >
		        {{ content }}
		    </article>
		</div>
		<div class="post-area post comment">
			
			<!-- 多说评论框 start -->
			<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="yuanhuihui.github.io{{ page.url }}"></div>
			<!-- 多说评论框 end -->
			
		</div>

  </div>


<script src="jquery.js" type="text/javascript"></script>
<script src="jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script src="iealert.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="iealert/style.css" />
<script type="text/javascript">
	$(document).ready(function() {
		$("body").iealert();
	});
</script>
