---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <!--<hr class="small">-->
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
        {% if site.sidebar == false %}
<!-- NO SIDEBAR -->
    <!-- PostList Container -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 postlist-container">
                {{ content }}
								<hr>
                <!-- 网易云跟帖 START-->
                <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
                <!-- 网易云跟帖 END-->
            </div>
            
            
    <!-- Sidebar Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">

                <!-- 标签 -->
                {% if site.featured-tags %}
                <section>
                    <!-- no hr -->
                    <h5><a target="_blank" href="{{'/tags/' | prepend: site.baseurl }}">标签</a></h5>
                    <div class="tags">
        				{% for tag in site.tags %}
                            {% if tag[1].size > {{site.featured-condition-size}} %}
                				<a target="_blank" href="{{ site.baseurl }}/tags/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
                                    {{ tag[0] }}
                                </a>
                            {% endif %}
        				{% endfor %}
        			</div>
                </section>
                {% endif %}
            </div>
        {% else %}

<!-- USE SIDEBAR -->
    <!-- PostList Container -->
    		<div class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                postlist-container
            ">
    			{{ content }}
    			

					<hr>
          <!-- 网易云跟帖 START-->
          <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
          <!-- 网易云跟帖 END-->
					
    		</div>
    <!-- Sidebar Container -->
            <div class="
                col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-12
                col-xs-12
                sidebar-container
            ">
                <!-- Short About -->
                <section class="visible-md visible-lg">
                    <hr>
                    <h5><a target="_blank" href="{{'/about/' | prepend: site.baseurl }}">GITYUAN</a></h5>
                    <div class="short-about">
                        {% if site.sidebar-avatar %}
                            <img src="{{site.sidebar-avatar}}" />
                        {% endif %}
                        {% if site.sidebar-about-description %}
                            <p>{{site.sidebar-about-description}}</p>
                        {% endif %}
                        <!-- SNS Link -->
                        <ul class="list-inline">                                                    
                            {% if site.weibo_username %}
                            <li>
                                <a target="_blank" href="http://weibo.com/{{ site.weibo_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.zhihu_username %}
                            <li>
                                <a target="_blank" href="https://www.zhihu.com/people/{{ site.zhihu_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa  fa-stack-1x fa-inverse">知</i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.google_userId %}
                            <li>
                                <a target="_blank" href="https://plus.google.com/{{ site.google_userId }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa  fa-google fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.facebook_username %}
                            <li>
                                <a target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.twitter_username %}
                            <li>
                                <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.github_username %}
                            <li>
                                <a target="_blank" href="https://github.com/{{ site.github_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.linkedin_username %}
                            <li>
                                <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.RSS %}
                            <li>
                                <a target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}    
                        </ul>
                    </div>
                </section>               
                
								<!-- 热门文章 -->
                <hr>               
                <h5>热门文章</h5>
                <ul class="list-inline">
                    {% for page in site.hotpages %}
                        <li>
                        	<a target="_blank" href="{{page.href }}">{{page.title}}</a>
                        </li>
                    {% endfor %}
                </ul>
                
								<!-- 打赏支持 -->
								<div class="short-about">
                <hr>               
                <h5>打赏支持</h5>
                <ul class="list-inline">                   
                    {% if site.money-description %}
                        <p>{{site.money-description}}</p>
                    {% endif %}
                    {% if site.money-alipay %}
                    	<a target="_blank" href="{{site.money-alipay | prepend: site.baseurl}}">
                            <img src="{{site.money-alipay}}" />
                      </a>
                    {% endif %}
                    {% if site.money-weixin %}
                    	<a target="_blank" href="{{site.money-weixin | prepend: site.baseurl}}">
                            <img src="{{site.money-weixin}}" />
                      </a>
                    {% endif %}
                </ul>
 								</div>
                
                <!--最近访客 start -->
                <hr>
                <h5>最近访客</h5>
                <ul class="ds-recent-visitors" data-num-items="20" style="padding-left:0px;"></ul>
                <!--最近访客 end -->
    		</div>
        {% endif %}
	</div>
</div>
<div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>

<!-- 网易云跟帖 （web版） START-->
<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
<script>
var cloudTieConfig = {
  url: document.location.href, 
  sourceId: "",
  productKey: "1fd00c5a27ee4cf1a6aa85f5e3896670",
  target: "cloud-tie-wrapper"
};
var yunManualLoad = true;
Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
</script>
<!-- 网易云跟帖 （web版） END-->
